# Dependencies
node_modules/

# Build output
dist/
build/
.next-*/
.dist-*/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
*.log*
npm-debug.log*

# Editor
.vscode/
.idea/
*.iml
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
DS_STORE
Thumbs.db

# Vite
vite.config.js.timestamp-*
