/* General styles */
body {
  scroll-behavior: smooth;
}

.container {
  background-color: #ece9e8;
  background-image: radial-gradient(#08090a 0.85px, transparent 0.85px), radial-gradient(#08090a 0.85px, #ece9e8 0.85px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 5rem;
}

/* Dropdown container styles */
.dropdown-container {
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #ece9e8;
  border: 3px solid #08090a;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.dropdown-container select {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #08090a;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  appearance: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.dropdown-container select:hover {
  background-color: #dcdcdc;
}

/* Dropdown icon styling */
.dropdown-container::after {
  content: '▼';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.9rem;
  color: #08090a;
}

/* Mobile view adjustments */
@media (max-width: 767px) {
  .dropdown-container {
    top: 2rem; /* Adjust the top position as needed for mobile view */
  }
}

/* Section container styles */
.section-container {
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
  background-color: #ece9e8;
  background-image: radial-gradient(#08090a 0.85px, transparent 0.85px), radial-gradient(#08090a 0.85px, #ece9e8 0.85px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.section-container h2:first-of-type {
  margin-top: 10rem;
}

.section-container h2,
.section-container h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  display: block;
}

.section-container h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #555;
}

/* Image box styling */
.image-box {
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  border: 12px double rgb(8, 9, 10);
  position: relative;
}

.image-box img {
  width: 100%;
  height: auto;
  scale: 1.1;
  display: block;
  filter: grayscale(20%) brightness(0.7);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

  -webkit-touch-callout: none; /* Disable callout menu on iOS */
  -webkit-user-select: none;   /* Disable text selection on iOS */
  -moz-user-select: none;      /* Disable text selection on Firefox */
  -ms-user-select: none;       /* Disable text selection on Internet Explorer/Edge */
  user-select: none;           /* Disable text selection on non-webkit browsers */
}

.image-box img:hover {
  transform: scale(1.2);
  filter: grayscale(0%) saturate(120%);
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-info h4 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-info p {
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-box:hover .image-info {
  opacity: 1;
}

/* Adjusting for smaller screens */
@media (max-width: 1200px) {
  .section-container {
    width: 90%;
    padding: 1.5rem;
  }
}

@media (max-width: 992px) {
  .section-container {
    width: 85%;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .section-container {
    width: 83%;
    padding: 0.5rem;
  }

  .image-info {
    padding: 0.8rem;
  }

  .image-info h4 {
    font-size: 0.9rem;
  }

  .image-info p {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .section-container {
    width: 80%;
    padding: 0.25rem;
  }

  .section-container h2,
  .section-container h3 {
    text-align: center;
  }

  .image-info {
    padding: 0.5rem;
  }

  .image-info h4 {
    font-size: 0.8rem;
  }

  .image-info p {
    font-size: 0.7rem;
  }
}

/* Hero section styling */
.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 9, 10, 0.5);
  z-index: 1;
  animation: fadeIn 2s ease-in-out;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  background: rgba(8, 9, 10, 0.7);
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}

.hero-content:hover {
  transform: scale(1);
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  animation: slideInFromLeft 1.5s ease-in-out;
}

.hero-description {
  font-size: 1.5rem;
  animation: slideInFromRight 1.5s ease-in-out;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  
  .hero-description {
    font-size: 1rem;
  }
  
  .hero-content {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 1.5rem;
  }
  
  .hero-description {
    font-size: 0.875rem;
  }
  
  .hero-content {
    width: 95%;
    padding: 10px;
  }
}

