/* General styles */
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Container styles */
.container {
  background-color: #ece9e8;
  background-image: radial-gradient(#08090a 0.85px, transparent 0.85px), radial-gradient(#08090a 0.85px, #ece9e8 0.85px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 5rem;
}

/* Dropdown container styles */
.dropdown-container {
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #ece9e8;
  border: 3px solid #08090a;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 60%;
  /* Better width for responsiveness */
  max-width: 400px;
  /* Limit the width for large screens */
}

/* Dropdown select styling */
.dropdown-container select {
  padding: 0.75rem 2.5rem;
  /* Increased padding for larger touch area */
  font-size: 1.2rem;
  /* Slightly larger font size for readability */
  border: none;
  background-color: transparent;
  color: #08090a;
  cursor: pointer;
  width: 100%;
  appearance: none;
  outline: none;
  transition: background-color 0.3s ease;
  text-align: center;
  /* Align text to the center for a better look */
}

.dropdown-container select:hover {
  background-color: #dcdcdc;
}

/* Dropdown arrow icon */
.dropdown-container::after {
  content: '▼';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2rem;
  /* Increased font size for better visibility */
  color: #08090a;
}

/* Mobile view adjustments */
@media (max-width: 767px) {
  .dropdown-container {
    top: 2rem;
    width: 50%;
    /* Adjust width for smaller screens */
    max-width: 100%;
    /* Allow full width on small screens */
    border-radius: 20px;
    /* Slightly reduce the border radius */
  }

  .dropdown-container select {
    font-size: 0.9rem;
    /* Reduce font size slightly for smaller screens */
    padding: 0.6rem 2rem;
    /* Adjust padding for smaller screens */
  }

  .dropdown-container::after {
    right: 1rem;
    /* Adjust arrow position for smaller screens */
    font-size: 1rem;
    /* Smaller icon for mobile */
  }
}

/* Very small screens (320px and below) */
@media (max-width: 320px) {
  .dropdown-container {
    width: 90%;
    /* Ensure the dropdown fits even on very small screens */
  }

  .dropdown-container select {
    font-size: 0.9rem;
    padding: 0.5rem 1.8rem;
  }

  .dropdown-container::after {
    right: 0.8rem;
    font-size: 0.9rem;
  }
}

/* Section container styles */
.section-container {
  padding: 1.4rem;
  width: 80%;
  height: 95%;
  margin: 0 auto;
  background-color: #ece9e8;
  background-image: radial-gradient(#08090a 0.85px, transparent 0.85px), radial-gradient(#08090a 0.85px, #ece9e8 0.85px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
  border-radius: 10px;
  margin-bottom: 2rem;
  text-align: center;
  /* height: 100vh; */
  overflow-y: scroll;
}

.section-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-container h2:first-of-type {
  margin-top: 10rem;
}

.section-container h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
  line-height: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla", sans-serif;
  width: 80%;
}

@media (max-width: 768px) {
  .section-container h2 {
    font-size: 1.8rem;
  }
  .section-container h3 {
    font-size: 1rem;
    width: 75%;
  }
}

@media (max-width: 480px) {
  .section-container h2 {
    font-size: 1.5rem;
  }
  .section-container h3 {
    font-size: 0.9rem;
    width: 92%;
  }
}

/* Image box styling */
.image-box {
  margin: 0.2rem;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  border: 8px double rgb(8, 9, 10);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #ece9e8, #ffffff);

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #f3ec78, #af4261) 1;
    border-radius: 15px;
    pointer-events: none;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}

.image-box img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  display: block;
  filter: grayscale(10%) brightness(0.7);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  user-select: none;
}

.image-box img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(0%) saturate(110%);
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-info h4 {
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-info p {
  font-size: 0.65rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-box:hover .image-info {
  opacity: 1;
}

/* Adjusting for smaller screens */
@media (max-width: 1200px) {
  .section-container {
    width: 90%;
    padding: 1.5rem;
  }
}

@media (max-width: 992px) {
  .section-container {
    width: 85%;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .section-container {
    width: 83%;
    padding: 0.5rem;
  }

  .image-info {
    padding: 0.8rem;
  }

  .image-info h4 {
    font-size: 0.75rem;
  }

  .image-info p {
    font-size: 0.6rem;
  }
}

@media (max-width: 576px) {
  .section-container {
    width: 80%;
    padding: 0.25rem;
  }

  .image-info {
    padding: 0.5rem;
  }

  .image-info h4 {
    font-size: 0.55rem;
  }

  .image-info p {
    font-size: 0.45rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

/* Hero section styles */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #ece9e8;
  border-radius: 10px;
  margin-bottom: 2rem;
  height: 100vh;
  background-image: radial-gradient(#08090a 0.85px, transparent 0.85px), radial-gradient(#08090a 0.85px, #ece9e8 0.85px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: rgb(8, 9, 10); /* Base color of the text */
  text-shadow: 
    1px 1px 0 #fff, /* Lighter shadow on top-left */
    2px 2px 0 #bbb, /* Slightly darker shadow on bottom-right */
    3px 3px 0 #aaa, /* Even darker shadow for depth */
    4px 4px 0 #999; /* Darkest shadow for the deepest part */
}

.hero-section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }
}

/* Scrollbar styling for .section-container */
.section-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.section-container::-webkit-scrollbar-track {
  background: #ece9e8; /* Background color of the scrollbar track */
}

.section-container::-webkit-scrollbar-thumb {
  background-color: #08090a; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  border: 3px solid #ece9e8; /* Padding around the scrollbar thumb */
}

/* Scrollbar styling for Firefox within .section-container */
.section-container {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #08090a #ece9e8; /* Color of the scrollbar thumb and track */
}
