/* styles.css */
:root {
    --body-color-light: rgb(236, 233, 232);
    --text-color-light: rgb(8, 9, 10);
    --body-color-dark: rgb(8, 9, 10);
    --text-color-dark:  rgb(236, 233, 232);

    --animate-delay: 0.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s;
}

.is-text-color-dark{
    color: var(--text-color-dark)
}

.is-text-color-light{
    color: var(--text-color-light)
}